/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.image-left
	{
		display: inline;
		width: auto;
	}
	
		.image-left img
		{
			display: inline;
			width: auto;
		}
		
/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.horizontal #nav
	{
	}

		.horizontal #nav li
		{
			float: left;
			padding-top: 1.25em;
		}