/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.slide
	{
		height: auto;
	}
		
	.slide-style1
	{
	}

		.slide-style1 .inner
		{
			padding-bottom: 60px !important;
		}
	
		.slide-style1 header
		{
			padding: 150px 40px 40px 40px;
		}

/*********************************************************************************/
/* BG                                                                            */
/*********************************************************************************/

	#bg
	{
		opacity: 1.0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		opacity: 1.0;
		height: 80px;
		width: 100%;
	}

		#header:after
		{
			background-image: url('images/shadow-horizontal.svg');
			background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
			background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
			background-image: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
			background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
			background-image: linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
		}

		#header h1
		{
			font-size: 2.25em;
			position: absolute;
			left: 60px;
			line-height: 80px;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		top: 0;
		right: 60px;
		line-height: 80px;
		font-size: 1.15em;
	}

		#nav li
		{
			display: inline-block;
			padding: 0 0 0 1.75em;
		}

		#nav li a
		{
			display: block;
			line-height: 1em;
		}
		
/*********************************************************************************/
/* Viewer                                                                        */
/*********************************************************************************/

	#viewer
	{
		position: relative;
		height: auto;
		z-index: 100;
		width: 100%;
		padding: 130px 0 50px 0;
		overflow: hidden;
	}
	
		#viewer .reel
		{
			width: 1000px;
			display: block;
			margin: 0 auto;
		}