/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	a
	{
		color: #469dd8;
	}