/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 11.5pt;
		line-height: 1.75em;
		min-width: 1000px;
	}

	.slide
	{
		width: 850px;
		height: 550px;
	}

		.horizontal .slide
		{
			height: 550px;
		}

		.slide .inner
		{
			padding: 50px 50px 50px 70px;
		}

	.slide-style1
	{
	}

		.slide-style1 .scrollArea-beta
		{
			width: 850px !important;
		}

			.slide-style1 header
			{
			}

			.vertical .slide-style1 header
			{
				padding-top: 130px;
			}
		
			.horizontal .slide-style1 header
			{
				padding-top: 130px;
			}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	.vertical #header
	{
		width: 160px;
	}

	.horizontal #header
	{
		height: 60px;
	}

		.horizontal #header h1
		{
			left: 30px;
			line-height: 60px;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.horizontal #nav
	{
		right: 30px;
		line-height: 60px;
	}

/*********************************************************************************/
/* Viewer                                                                        */
/*********************************************************************************/

	#viewer
	{
		min-width: 1000px;
	}