/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 13pt;
		line-height: 2em;
		color: #666;
		min-width: 1200px;
		background: #222 url('images/loader.gif') center center no-repeat;
	}

	h2
	{
		font-size: 2.5em;
		margin: 0 0 1em 0;
	}

	h3
	{
		font-size: 1.2em;
		margin: 0 0 1em 0;
	}

	.slide
	{
		width: 1000px;
		height: 720px;
	}

		.horizontal .slide
		{
			height: 680px;
		}

		.slide:before
		{
			width: 20px;
			height: 100%;
		}

		.slide .inner
		{
			padding: 80px 80px 60px 90px;
		}
		
			.slide .inner section,
			.slide .inner section
			{
				overflow: hidden;
			}
		
		.slide .scrollArea-alpha
		{
			margin: 5px;
		}

		.slide .scrollArea-beta
		{
			overflow: hidden;
		}
		
	.slide-style1
	{
	}
	
		.slide-style1 .inner
		{
			padding: 0 !important;
		}

		.slide-style1 .scrollArea-alpha
		{
			margin: 0 !important;
		}
		
		.slide-style1 .scrollArea-beta
		{
			width: 1000px !important;
		}

		.slide-style1 header
		{
			padding: 0 40px 40px 40px;
			font-size: 2.5em;
			line-height: 1.35em;
		}
		
			.vertical .slide-style1 header
			{
				padding-top: 220px;
			}
		
			.horizontal .slide-style1 header
			{
				padding-top: 150px;
			}
		
			.slide-style1 header h2
			{
				font-size: 1em;
				margin: 0;
			}
		
		.slide-style1 p
		{
			font-size: 1.5em;
			line-height: 1.75em;
			padding: 0 40px 0 40px;
			margin: 0 0 1.5em 0 !important;
		}
		
	.nicescroll-cursor
	{
		border-radius: 10px;
	}

/*********************************************************************************/
/* Widgets                                                                       */
/*********************************************************************************/

	.widget-gallery
	{
	}
	
		.widget-gallery .image
		{
			padding: 0 0 24px 0;
			margin: 0;
		}

		.widget-gallery .x
		{
			padding-right: 12px;
		}

		.widget-gallery .y
		{
			padding-left: 12px;
		}

	.widget-posts
	{
		margin: 0 0 2em 0;
	}
	
		.widget-posts article
		{
		}
	
		.widget-posts .x
		{
			padding: 20px 20px 20px 0;
		}
	
		.widget-posts .y
		{
			padding: 20px 0 20px 20px;
		}

/*********************************************************************************/
/* BG                                                                            */
/*********************************************************************************/

	#bg
	{
		opacity: 0.00001;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: fixed;
		top: 0;
		left: 0;
		vertical-align: middle;
		z-index: 1000;
		opacity: 0.00001;
	}

	.vertical #header
	{
		width: 175px;
		height: 100%;
	}

		.vertical #header:after
		{
			background-image: url('images/shadow-vertical.svg');
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));
			background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.95));
		}

		.vertical #header .inner
		{
			width: 100%;
			text-align: right;
			position: absolute;
		}

		.vertical #header h1
		{
			font-size: 3em;
			margin: 0 30px 0.75em 0;
		}
	
	.horizontal #header
	{
		height: 80px;
		width: 100%;
	}

		.horizontal #header:after
		{
			background-image: url('images/shadow-horizontal.svg');
			background-image: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
			background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
			background-image: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
			background-image: -ms-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
			background-image: linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
		}

		.horizontal #header h1
		{
			font-size: 2.25em;
			position: absolute;
			left: 60px;
			line-height: 80px;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.vertical #nav
	{
		font-size: 1.1em;
	}

		.vertical #nav li a
		{
			display: block;
			padding: 0.5em 30px 0.5em 0;
		}
		
		.vertical #nav li:last-child a
		{
			padding-bottom: 0;
		}

		.vertical #nav li.current_page_item a:after
		{
			content: '';
			display: block;
			position: absolute;
			right: -0.95em;
			top: 0;
			border-top: solid 1.65em transparent;
			border-bottom: solid 1.65em transparent;
			border-left: solid 1em #00c0ff;
		}

	.horizontal #nav
	{
		position: absolute;
		top: 0;
		right: 60px;
		line-height: 80px;
		font-size: 1.15em;
	}

		.horizontal #nav li
		{
			display: inline-block;
			padding: 0 0 0 1.75em;
		}

		.horizontal #nav li a
		{
			display: block;
			line-height: 1em;
		}
		
/*********************************************************************************/
/* Viewer                                                                        */
/*********************************************************************************/

	#viewer
	{
		position: absolute;
		height: 100%;
		z-index: 100;
		min-width: 1200px;
	}
	
		#viewer .reel
		{
			position: relative;
			height: 100%;
			display: none;
		}
		
			#viewer .reel .slide
			{
				float: left;
			}