<section id="i18_about_us">
<div class="container about-us-row">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center wow zoomIn">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_us.about_us">About Us</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 wow zoomIn">
            <p>
              Developing mobile apps. Creating games with stunning graphics. Working on
              cutting-edge robotics and artificial intelligence, or even making our own
              operating system. That's the work of ACM.
            </p>
            <p>
              The Association for Computing Machinery is the umbrella organization
              for Special Interest Groups (known as SIGs) who specialize in an area
              of computer science, like mobile applications, artificial intelligence,
              game development, high performance computing, multimedia, operating systems,
              security, and more. Each year, the SIGs recruit new members as returning
              ones give guidance and lead team projects. They'll work on a project
              year-round before presenting it to our Corporate Partners.
            </p>
            <h2>How do I join?</h2>
            <p>
              ACM is free to join. You may have heard about a $19 yearly fee to join, but this only applies to the national organization. You are welcome to join the national organization (there are some cool benefits that you can look up), but to be a part of Purdue's Chapter of ACM, all you need to do is show up to a SIG's meeting. As long as you show up to meetings, you're a part of the group.
            </p>
            <h2>Why should I join?</h2>
            <p>
              You'll get real world experience and work on fun projects. ACM hosts tech talks, hackathons, and other fun events. Corporate sponsors love to interview ACM members. It's free!
            </p>
        </div>
    </div>
</div>
</section>
