<section id="i18_about_us">
<div class="container about-us-row">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center wow animate__animated animate__zoomIn">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_us.about_us">About Us</span></h1>
        </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-3 wow animate__animated animate__fadeInLeft about-us">
        <i class="fa fa-umbrella"></i>
        <h3>What Is ACM?</h3>
        <p>ACM is the umbrella organization for <a href="#sigs">Special Interest Groups</a> (known as SIGs)
        who specialize in an area of computer science, like mobile applications,
        artificial intelligence, game development, high performance computing,
        multimedia, operating systems, security, and more.</p>
      </div>
      <div class="col-lg-3 wow animate__animated animate__zoomIn about-us">
        <i class="fa fa-code"></i>
        <h3>What Do We Do?</h3>
        <p>Developing mobile apps. Creating games with stunning graphics. Working on
        cutting-edge robotics and artificial intelligence, or even making our own
        operating system. That's the work of ACM.</p>
      </div>
      <div class="col-lg-3 wow animate__animated animate__zoomIn about-us">
        <i class="fa fa-check"></i>
        <h3>How Do I Join?</h3>
        <p>ACM is free to join. You may have heard about a $19 yearly fee to join, but this only applies to the national organization. You are welcome to join the national organization (there are some cool benefits that you can look up), but to be a part of Purdue's Chapter of ACM, all you need to do is show up to a SIG's meeting. As long as you show up to meetings, you're a part of the group.</p>
      </div>
      <div class="col-lg-3 wow animate__animated animate__fadeInRight about-us">
        <i class="fa fa-users"></i>
        <h3>Why Should I Join?</h3>
        <p>You'll get real world experience and work on fun projects. ACM hosts tech talks, hackathons, and other fun events. Corporate sponsors love to interview ACM members. It's free!</p>
      </div>
    </div>
</div>
</section>
