<div class="container" id="i18_sigs">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="sigs.sigs">SIGs</span></h1>
        </div>
    </div>
    <div class="row text-center">
      <p>
        SIG stands for Special Interest Group. During the year, each SIG will meet for roughly two hours per week and work on a project. These aren't your standard class projects, though. In ACM, you'll get to work on cool things like create the official Purdue app, go to the VEX Robotics World Championships, or design a system that can reconstruct shredded documents.
      </p>
    </div>
        {% for sig in site.data.index.sigs %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if loopindex == 1 %}
              <div class="row text-center">
            {% endif %}
            {% if forloop.last %}
                {% if forloop.last == forloop.first %}
                  <div class="col-lg-6 wow col-lg-offset-3 zoomIn">
                {% else %}
                  <div class="col-lg-6 wow {% if loopindex == 1 %} fadeInLeft col-lg-offset-3 {% else %} fadeInRight {% endif %}">
                {% endif %}
            {% else %}
            <div class="col-lg-6 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
            {% endif %}
              <div class="team-member">
                  <a href="{{ sig.url }}" target="_blank"><img src="{{ sig.img | prepend: site.baseurl }}" class="img-responsive img-sig" alt="{{ sig.name }}'s logo"></a>
                  <h2>
                  {% if sig.url %}
                  <a href="{{ sig.url }}" target="_blank"><span class="navy">{{ sig.name }}</span></a>
                  {% else %}
                  <span class="navy">{{ sig.name }}</span>
                  {% endif %}
                  </h2>

                  <h4>
                  {% if sig.president %}
                    {% if sig.email %}
                      President: <a href="mailto:{{ sig.email }}" target="_blank"><span class="navy">{{ sig.president }}</span></a>
                    {% else %}
                      <p>President: <span class="navy">{{ sig.president }}</span></p>
                    {% endif %}
                  {% endif %}
                  </h4>

                  <p><span data-i18n="sigs.{{ sig.i18n }}">{{ sig.desc }}</span></p>

                  <h4>
                  {% if sig.meeting-room %}
                    {% if sig.meeting-day %}
                      {% if sig.meeting-time %}
                        Meetings in {{ sig.meeting-room }} every {{ sig.meeting-day}} at {{ sig.meeting-time }}.
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  </h4>
              </div>
          </div>
          {% if loopindex == 0 %}
            </div>
          {% else %}
            {% if forloop.last %}
              </div>
            {% endif %}
          {% endif %}
      {% endfor %}
    </div>
</div>
